<%- include('partials/header') %>
<div class="container heightCont">
  <h2>Profile</h2>
  <% if (error) { %>
  <div class="alert"><%= error %></div>
  <% } %>

  <!-- Форма создания задачи (если хотите) -->
  <form action="/users/profile" method="POST" class="mb-4">
    <div class="mb-3">
      <label for="username" class="form-label">Name:</label>
      <input type="text" class="form-control" id="username" name="username" />
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email:</label>
      <input type="text" class="form-control" id="email" name="email" />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password:</label>
      <input type="text" class="form-control" id="password" name="password" />
    </div>
    <button type="submit" class="btn btn-success">Update</button>
  </form>

  <ul class="list-group">
    <li class="list-group-item mb-2">
      <h5><%= user.username %></h5>
      <p><%= user.email %></p>
      <strong>Role:</strong> <%= user.role %> <br />
      <strong>Сreated:</strong> <%= user.createdAt %>
    </li>
  </ul>
</div>
<%- include('partials/footer') %>
