<%- include('partials/header') %>
<div class="container heightCont">
  <h2>Tasks</h2>

  <% if (errors.length > 0) { %>
  <div class="error">
    <% errors.forEach(error => { %>
    <p><%= error %></p>
    <% }) %> %>
  </div>
  <% } %>

  <form action="/tasks" method="POST" class="mb-4">
    <div class="mb-3">
      <label for="title" class="form-label">Task name is...</label>
      <input
        type="text"
        class="form-control"
        id="title"
        name="title"
        required
      />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">What should I do?</label>
      <textarea
        class="form-control"
        id="description"
        name="description"
      ></textarea>
    </div>
    <div class="mb-3">
      <label for="status" class="form-label">Status</label>
      <select class="form-control" name="status" id="status">
        <option value="pending" <%= (task && task.status === 'pending') ? 'selected' : '' %>>Pending</option>
        <option value="in_progress" <%= (task && task.status === 'in_progress') ? 'selected' : '' %>>In progress</option>
        <option value="completed" <%= (task && task.status === 'completed') ? 'selected' : '' %>>Completed</option>
      </select>
    </div>
    
    <button type="submit" class="btn btn-success">Create</button>
  </form>

  <ul class="list-group">
    <% tasks.forEach(task => { %>
    <li
      class="list-group-item mb-2 task-card <% if (task.status === 'completed') { %> bg-success text-white <% } if(task.status === 'in_progress') { %> bg-warning text-dark <%} %>"
    >
      <h5><%= task.title %></h5>
      <p><%= task.description %></p>
      <strong>Status:</strong> <%= task.status %> <br />
      <strong>Creator:</strong> <%= task.username %>

      <div class="buttonsBlock">
      <a href="/tasks/edit/<%= task._id %>" class="btn btn-primary btn-sm"
        >Edit</a
      >
      <form
        action="/tasks/delete/<%= task._id %>"
        method="POST"
        style="display: inline"
      >
        <button
          type="submit"
          class="btn btn-danger btn-sm"
          onclick="return confirm('Вы уверены?');"
        >
          Delete
        </button>
      </form>
    </div>
    </li>
    <% }) %>
  </ul>
</div>

<%- include('partials/footer') %>
